body {
 background-color: #fff;
 color: #333;
 margin-left:0px;
 margin-right:0px;
 margin-bottom:0px;
 margin-top:0px;
 padding:0px;

 }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/*pre {*/
/*  background-color: #eee;*/
/*  padding: 10px;*/
/*  font-size: 11px;*/
/*}*/

a { color: #308d7c; }
a:visited { color: #039aaa; }
a:hover { color: #199f8e; background-color:#fff; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/*#barraesquerda{*/
/*       display: block;*/
/*       float: left;*/
/*       min-height: 1000px;*/
/*       width: 70px;*/
/*       background: red;*/
/*       margin-right: -350px;*/
/*}*/
/*#centro{*/
/*       display: block;*/
/*       float: left;*/
/*       min-height: 1000px;*/
/*       position: relative;*/
/*       z-index: 1;*/
/*       width: 824px;*/
/*       background-color: blue;*/
/*}*/

/*#barradireita{*/
/*       display: block;*/
/*       float: left;*/
/*       min-height: 1000px;*/
/*       float: left;*/
/*       width: 70px;*/
/*       background: green;*/
/*       margin-right: -350px;*/
/*}*/


#container {
       width: 100%;
       height:100%;
       overflow: hidden;
       background-color: #fff;
}


#conteudo{
  margin-top:5%;
  margin-left: 20%;
  padding: 1% 5% 7% 2%;
  width:53%;
  height: 580px;
  overflow:auto;
  position:relative;
  background-color:#fff;
  text-align:justify;
  z-index: 0;
  background:#fff;
  overflow-x: hidden;
  border-top:3px solid #000;
  border-left:3px solid #000;
  border-right:3px solid #000;
  border-bottom:3px solid #000;
}

#lateralesquerda{
  background-color: #318a79;
  width:17%;
  height: 784px;
  float:left;
  overflow:auto;
  position:relative;
  z-index: 1;
  padding: 2px;
  padding-bottom:10px;

  padding-right: 10px;
  padding-left: 0px;
  margin-top: 0%;

}

#lateraldireita{
  background-color: #318a79;
  width:17%;
  height: 784px;
  float:right;
  overflow:auto;
  position:relative;
  z-index: 1;
  padding: 2px;
  padding-bottom:10px;
  padding-right:0px;
  padding-left: -20px;
  margin-top: -81%;
}

.wrapper {
	width:960px;
	margin:0 auto;

}

/*#rodape{*/
/*    margin-left:200px;*/
/*    clear:both;*/
/*    width:643px;*/
/*    margin-top: 353px;*/
/*    height:39px;*/
/*    position: absolute;*/
/*    overflow:auto;*/
/*    float:bottom;*/
/*    background-color:yellow;*/
/*    z-index: 0;*/
/*    margin-left:0px;*/
/*    text-align:center;*/
/*    padding-top:110px;*/
/*    padding-left:0px;*/
/*    margin-left:0 auto;*/


}
#topo{

  margin-top:0%;
  margin-left: 19%;
  padding: 1% 5% 7% 0%;
  width:58%;
  height: 2000px;
  overflow:auto;
  position:relative;
  background-color:#fff;
  text-align:justify;
  z-index: 0;
  background:#fff;
  overflow-x: hidden;

/*  height: 200px;*/
/*  background-color: #fff;*/
/*  width:643px;*/
/*  z-index: 0;*/
/*  clear:both;*/
/*  margin-left:0px;*/
/*  padding-top:0px;*/
/*  float: left;*/
/*  margin:0 auto;*/
}



/*BOTÕES*/
#facebook{
    height:59px;
    width:60px;
    z-index: 3;
    background: url(../images/facebook.png) center repeat-x;
    background-size: 59px 60px;
    -moz-background-size:  59px 60px;
    -o-background-size:  59px 60px;
    -khtml-background-size:  59px 60px;
    position:absolute;
    margin-top:12px;
    margin-left:12px;
}
#twitter{
    height:59px;
    width:60px;
    z-index: 3;
    background: url(../images/twitter.png) center repeat-x;
    background-size: 59px 60px;
    -moz-background-size:  59px 60px;
    -o-background-size:  59px 60px;
    -khtml-background-size:  59px 60px;
    position:absolute;
    margin-top:12px;
    margin-left:85px;
}

#nos{
    height:59px;
    width:60px;
    z-index: 3;
    background: url(../images/nos.png) center repeat-x;
    background-size: 59px 60px;
    -moz-background-size:  59px 60px;
    -o-background-size:  59px 60px;
    -khtml-background-size:  59px 60px;
    position:absolute;
    margin-top:82px;
    margin-left:12px;
}
#clibr{
    height:59px;
    width:60px;
    z-index: 3;
    background: url(../images/clibr.png) center repeat-x;
    background-size: 59px 60px;
    -moz-background-size:  59px 60px;
    -o-background-size:  59px 60px;
    -khtml-background-size:  59px 60px;
    position:absolute;
    margin-top:82px;
    margin-left:85px;
}


#barrabotoes{
    height:150px;
    width:102%;
    z-index: 2;
    background: url(../images/barra.png) center repeat-x;
    background-size: 16% 200px;
    -moz-background-size:  16% 200px;
    -o-background-size:  16% 200px;
    -khtml-background-size:  16% 200px;
    position:relative;
    margin-top:300px;
    margin-left:-3px;
    margin-right:0px;
}

#barralogo{
    height:150px;
    width:106%;
    z-index: 2;
    background: url(../images/barra.png) center repeat-x;
    background-size: 16% 200px;
    -moz-background-size:  16% 200px;
    -o-background-size:  16% 200px;
    -khtml-background-size:  16% 200px;
    position:relative;
    margin-top:300px;
}

#logo{
    height:150px;
    width:230px;
    z-index: 4;
    background: url(../images/logo.png) center no-repeat;
    background-size: 80% 300px;
    -moz-background-size:  90% 130px;
    -o-background-size:  80% 300px;
    -khtml-background-size:  80% 300px;
    position:absolute;
    margin-top:600px;
    margin-left:-30px;
}


#troll{
    height:150px;
    width:105%;
    z-index: 3;
    background: url(../images/troll.png) center no-repeat;
    background-size: 95% 150px;
    -moz-background-size:  95% 150px;
    -o-background-size:  95% 150px;
    -khtml-background-size:  95% 150px;
    position:relative;
    margin-top:150px;
    margin-left:0px;

}

#machado{
    height:150px;
    width:100%;
    z-index: 3;
    background: url(../images/machado.png) center no-repeat;
    background-size: 95% 150px;
    -moz-background-size:  95% 150px;
    -o-background-size:  95% 150px;
    -khtml-background-size:  95% 150px;
    position:relative;
    margin-top:150px;
    margin-left:0px;

}



#internes{
   height:100px;
    width:100%;
    z-index: 3;
    background: url(../images/internes.png) center no-repeat;
    background-size: 95% 60px;
    -moz-background-size:  95% 60px;
    -o-background-size:  95% 60px;
    -khtml-background-size:  95% 60px;
    position:absolute;
    margin-top:55px;
    margin-left:0px;
    }

#classico{
    height:100px;
    width:99%;
    z-index: 3;
    background: url(../images/classico.png) center no-repeat;
    background-size: 95% 60px;
    -moz-background-size:  95% 60px;
    -o-background-size:  95% 60px;
    -khtml-background-size:  95% 60px;
    position:absolute;
    margin-top:55px;
    margin-left:0px;

}

#qualestilo{
    height:60px;
    width:40%;
    z-index: 3;
    background: url(../images/qual_seu_estilo.png) center no-repeat;
    background-size: 95% 60px;
    -moz-background-size:  95% 60px;
    -o-background-size:  95% 60px;
    -khtml-background-size:  95% 60px;
    position:relative;
    margin-top:9px;
    margin-left:30%;

}

