<!DOCTYPE html>
<html >
<div class="wrapper">
<head>
  <title>Clibr</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="logo"></div>

<div id= "container">
<div id="lateralesquerda">
          <div id="internes"></div>
         <div id="troll"></div>
          <div id="barralogo"></div>
</div>
  <div id="conteudo">
    <div id= "topo"></div>
    <%= yield %>
   </div>
<div id="lateraldireita">
          <div id="classico"></div>
          <div id="machado"></div>
          <div id="barrabotoes">
            <a href="www.facebook.com/mariojorgevalle"><div id="facebook"></div></a>
            <a href="http://www.twitter.com/clibr"><div id="twitter"></div></a>
            <div id="nos"></div>
            <div id="clibr"></div>
          </div>
</div>

</body>
</div>
</html>

